{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Admin{% endblock %}

{% block content %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Daftar Admin <a href="{% url 'create-admin' %}" class="btn btn-sm btn-dark btn-fw float-right"><i class="mdi mdi-plus-circle"></i> Tambah</a></h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th width="20%">
                          Nama Depan
                        </th>
                        <th width="20%">
                          Nama Belakang
                        </th>
                        <th width="15%">
                          Username
                        </th>
                        <th width="15%">
                          Email
                        </th>
                        <th>
                          Aksi
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for admin in object_list %}
                      <tr>
                        <td>{{ admin.first_name }}</td>
                        <td>{{ admin.last_name }}</td>
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.email }}</td>
                        <td>
                            <a href="{% url 'update-admin' admin.pk %}" class="btn btn-sm btn-outline-primary"><i class="mdi mdi-pencil-box"></i> Ubah</a> 
                            <a href="{% url 'delete-admin' admin.pk %}" class="btn btn-sm btn-outline-danger"><i class="mdi mdi-delete"></i> Hapus</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                    <div class="float-left pt-3">
                        <p>
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </p>
                    </div>
                    <div class="float-right pt-3">
                        <div class="btn-group" role="group" aria-label="Second group">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'list-admin' %}?page={{ page_obj.previous_page_number }}" class="btn btn-fw btn-sm btn-secondary"><i class="mdi mdi-arrow-left-bold-circle-outline"></i></a>
                        {% else %}
                            <a href="#" class="btn btn-fw btn-sm btn-secondary disabled"><i class="mdi mdi-arrow-left-bold-circle-outline"></i></a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="{% url 'list-admin' %}?page={{ page_obj.next_page_number }}" class="btn btn-fw btn-sm btn-secondary"><i class="mdi mdi-arrow-right-bold-circle-outline"></i></a>
                        {% else %}
                            <a href="#" class="btn btn-fw btn-sm btn-secondary disabled"><i class="mdi mdi-arrow-right-bold-circle-outline"></i></a>
                        {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}