{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load perm_tags %}

{% block title %}Pemilih{% endblock %}

{% block content %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Daftar Pemilih ({{ count }}) 
                    <div class="btn-group float-right" role="group" aria-label="Second group">
                      <div class="dropdown show">
                        <a class="btn btn-primary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-printer"></i> Cetak
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'export-pemilih' 'semua' %}" target="_blank">Cetak Semua</a>
                          <a class="dropdown-item" href="{% url 'export-pemilih' 'belum' %}" target="_blank">Cetak Yang Belum Dicetak</a>
                        </div>
                      </div>
                      <a href="{% url 'create-pemilih' %}" class="btn btn-sm btn-dark btn-fw"><i class="mdi mdi-plus-circle"></i> Tambah Pemilih</a>
                      <a href="{% url 'delete-all-pemilih' %}" class="btn btn-sm btn-danger btn-fw"><i class="mdi mdi-delete"></i> Hapus Semua</a> 
                    </div>
                  </h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th width="15%">
                          QRcode
                        </th>
                        <th width="40%">
                          Kode
                        </th>
                        <th width="15%">
                          Sudah Pilih
                        </th>
                        <th width="15%">
                          Dicetak
                        </th>
                        <th width="25%">
                          Waktu Pilih
                        </th>
                        <th>
                          Aksi
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for pemilih in object_list %}
                      <tr>
                        <td>
                          <img src="data:image/png;base64,{{ pemilih.generate_qrcode }}" class="download-qrcode"/>
                        </td>
                        <td>{{ pemilih.user.username }}</td>
                        <td>
                          {% if not pemilih.user|check_permission:'pilih.bisa_vote' %}
                          <h3 class="mdi mdi-check"></h3>
                          {% else %}
                          <h3 class="mdi mdi-close"></h3>
                          {% endif %}
                        </td>
                        <td>
                          {% if pemilih.cetak %}
                          <h3 class="mdi mdi-check"></h3>
                          {% else %}
                          <h3 class="mdi mdi-close"></h3>
                          {% endif %}
                        </td>
                        <td>
                          {{ pemilih.memilih.waktu }}
                        </td>
                        <td>
                            <a href="{% url 'delete-pemilih' pemilih.pk %}" class="btn btn-sm btn-outline-danger"><i class="mdi mdi-delete"></i> Hapus</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                    <div class="float-left pt-3">
                        <p>
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </p>
                    </div>
                    <div class="float-right pt-3">
                        <div class="btn-group" role="group" aria-label="Second group">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'list-pemilih' %}?page={{ page_obj.previous_page_number }}" class="btn btn-fw btn-sm btn-secondary"><i class="mdi mdi-arrow-left-bold-circle-outline"></i></a>
                        {% else %}
                            <a href="#" class="btn btn-fw btn-sm btn-secondary disabled"><i class="mdi mdi-arrow-left-bold-circle-outline"></i></a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="{% url 'list-pemilih' %}?page={{ page_obj.next_page_number }}" class="btn btn-fw btn-sm btn-secondary"><i class="mdi mdi-arrow-right-bold-circle-outline"></i></a>
                        {% else %}
                            <a href="#" class="btn btn-fw btn-sm btn-secondary disabled"><i class="mdi mdi-arrow-right-bold-circle-outline"></i></a>
                        {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}